.App {
  font-family: sans-serif;
  background-color: #eeeeee;
}

p {
  text-align: left;
  padding-left: 30px;
  color: darkcyan;
}
a {
  text-align: left;
  color: darkcyan;
  padding-left: 30px;
}
h1,
h2 {
  text-align: center;
}
.toggleButton {
  text-align: center;
  margin: auto;
  padding: 10px;
}
table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}
td {
  background-color: lightcyan;
  padding: 5px;
}
th {
  background-color: darkgrey;
  padding: 5px;
}
.courses {
  padding-left: 30px;
}

.skills {
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-rows: auto; */
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.item {
  width: 100%;
  max-width: 60%;
  flex-grow: 1;
  text-align: center;
  background-color: aqua;
  border: 1px solid dimgray;
  justify-content: center;
}
.listItem {
  padding: 10px;
}
input {
  width: 100%;
  border: 0;
  padding: 0px;
  font-size: 1.3em;
  background-color: #8ba1a1;
  color: #ccdbdb;
  flex: 1;
}
