.App {
  font-family: sans-serif;
  background-color: #eeeeee;
}
p {
  text-align: left;
  padding-left: 30px;
  color: darkcyan;
}
a {
  text-align: left;
  color: darkcyan;
  padding-left: 30px;
}
h1,
h2 {
  text-align: center;
}
.toggleButton {
  text-align: center;
  margin: auto;
  padding: 10px;
}
table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}
td {
  background-color: lightcyan;
  padding: 5px;
}
th {
  background-color: darkgrey;
  padding: 5px;
}
.courses {
  padding-left: 30px;
}
